<html lang="en">
  <head>
    <title>Meetups</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <h1><%= @info.name %></h1>

      <ul>
        <li>Time: <%= @info.time %></li>
        <li>Date: <%= @info.date %></li>
        <li>Location: <%= @info.location %></li>
        <li>Description: <%= @info.description %></li>
        <li>Duration: <%= @info.email %></li>
      </ul>

  <form action="" method="post">
    <button>Attending</button>
  </form>

    <h1>Attending:</h1>

      <ul>
        <% @participants.each do |participant| %>
        <% user = User.find(participant.user_id) %>
          <li><%= user.username %>, <%= user.email %></li>
        <% end %>
      </ul>
  </body>
</html>
